.project-container {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  font-size: 2rem;
}

.project-container .project-name {
  font-weight: bold;
}

.project-container .tasks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 30%));
  gap: 20px;
}
