.project-list {
    padding: 20px;
    background-color: blueviolet;
    min-height: 100vh;
    max-width: 21ch;
    display: flex;
    flex-direction: column;
}

.project-list h2 {
    font-size: 1.5rem;
}

.project-list ul {
    display: flex;
    flex-direction: column;
}

.project-list li button {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    max-width: 20ch;
}

.project-list li button:hover {
    font-weight: bold;
}

.project-list li button.selected {
    color: blue;
}

.project-list .title {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.project-list .add-project-button {
    width: 30px;
    align-self: center;
    background-color: aqua;
    border-radius: 5px;
    border: none;
}
