dialog .task-view {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

dialog .task-view .close-button{
    grid-column: span 2;
    justify-self: right;
    padding: 10px 20px;
}

.task-view .bold {
    font-weight: bold;
}