.project-container .task-card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.project-container .task-card h3 {
   font-weight: bold; 
}

.today {
    color: orange;
}

.past {
    color: red;
}

.task-card .title-row {
    display: flex;
    justify-content: space-between;
}

.delete-button {
    background-image: url(images/trash.svg);
    width: 1rem;
    height: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: center;
}