dialog .task-view {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

dialog .task-view .button-list{
    grid-column: span 2;
    justify-self: right;
    display: flex;
    gap: 10px;

}

.button-list button {
    padding: 10px 20px;
}

.task-view .bold {
    font-weight: bold;
}